
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap');

:root {
    --fonte: 'Poppins', sans-serif;
  }

.Paragrafo{
    margin-top: 310px;
    text-align: justify;
    text-indent: 1.5em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: var(--fonte);
}